/*------------------*/
/*		Fonts		*/
/*------------------*/

@font-face {	
	font-family: "Helvetica";
	src: url("../../media/font/Helvetica-Light.ttf") format("truetype");
}

/*----------------------*/
/*		Variables		*/
/*----------------------*/

:root {
	--header-vertical-padding: 18px;
	--header-horizontal-padding: 24px;
	--header-border-width: 3px;
	--header-font-size: 1.8em;
	--header-padding: var(--header-vertical-padding) var(--header-horizontal-padding);
	--vertical-margin: 15px;
	--horizontal-margin: 6px;
	--subscroller-height: 72px;

	--project-away-duration-ms: 3000;

	--intro-step0-transition-delay-ms: 500;
	--intro-step1-transition-delay-ms: 2000;
	--intro-step-transition-duration-ms: 1500;
	--intro-transition-duration-ms: 3500;
}

/*------------------*/
/*		General		*/
/*------------------*/

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Helvetica";
	font-size: 28px;
	overflow: hidden;
}

html::-webkit-scrollbar {
	display: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	user-select: none;
}

* {
	pointer-events: auto;
	cursor: url("../../media/nav/pointer_32_normal.png"), pointer !important;
}

a:hover {
	cursor: url("../../media/nav/pointer_32_bold.png"), pointer !important;
}

*[hidden] {
	display: none !important;
}

/* Langs */

body[lang="fr"] [lang]:not([lang="fr"]),
body[lang="en"] [lang]:not([lang="en"]) {
	display: none !important;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	display: none;
	pointer-events: none;
}

.sticky {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.no-pointer-events {
	pointer-events: none;
}

.flex {
	display: flex;
}

.flex-columns {
	display: flex;
	flex-direction: column;
}

.flex-auto {
	flex: auto;
}

.flex-none {
	flex: none;
}

[data-invisible] {
	visibility: hidden;
	pointer-events: none;
}

/*----------------------------------*/
/*		Overlay, Header, Index		*/
/*----------------------------------*/

#overlay-container {
	display: flex;
	flex-direction: column;
}

#header {
	font-size: var(--header-font-size);
	border-bottom: var(--header-border-width) solid black;
}

#header-title,
#header-contact {
	position: relative;
	background-color: white;
	padding: var(--header-padding);
}

#header-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-left: var(--header-border-width) solid black;
	margin-top: -8px;
}

#header-contact[data-closed] {
	color: transparent;
}

#header-contact[data-closed]::after {
	display: block;
	content: "x";
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	text-align: center;
}

#header-title {
	border-right: var(--header-border-width) solid black;
}

#header-title:hover,
#header-contact:hover {
	font-weight: bold;
}

#header-contact:hover {
	font-style: italic;
}

#nav {
	position: relative;
	width: var(--header-title-width);
	height: 100%;
	font-size: var(--header-font-size);
	background-color: white;
	border-right: var(--header-border-width) solid black;
}

#nav li {
	padding: 62px 24px 0px 24px;
}

#nav a:hover {
	font-style: italic;
	font-weight: bold;
}

.lang-menuitem {
	text-align: right;
	padding-bottom: 16px !important;
}

#header-banner {
	overflow: hidden;
	position: relative;
}

#header-banner-content {
	position: absolute;
	width: 100%;
	height: 100%;
	
	overflow-x: scroll;
	scroll-behavior: smooth;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: white;
}

#header-banner-content::-webkit-scrollbar {
	display: none;
}

#header-banner-scroll-btns {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#header-banner-scroll-btn-right,
#header-banner-scroll-btn-left {
	position: absolute;
	top: 0;
	background-color: white;
	height: 100%;
	width: 64px;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 8px;
}

#header-banner-scroll-btn-right {
	right: 0;
}

#header-banner-scroll-btn-left {
	left: 0;
}

#header-banner-scroll-btn-left {
	border-right: var(--header-border-width) solid black;
}

#header-banner-scroll-btn-right {
	border-left: var(--header-border-width) solid black; 
}

#header-banner ul {
	display: flex;
}

#header-banner li {
	padding-left: 24px;
	flex: none;
	text-align: center;
	white-space: nowrap !important;
}

#index-menu {
	height: 100%;
}

.networks-contact-menuitem {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.instagram-btn,
.linkedin-btn {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}

.instagram-btn {
	background-image: url("../../media/icons/instagram.png");
}

.linkedin-btn {
	margin-left: 24px;
	margin-right: 24px;
	background-image: url("../../media/icons/linkedin.png");
}

#intro {
	z-index: -1;
	position: absolute;
	
	width: 100%;
	height: 100%;
	background-size: cover;
	
	background-image: url("../../media/content/accueil/lapine-G.gif");
}

#slideshow .slideshow-img {
	position: absolute;
	width: 100%;
	height: 100%;

	background-size: contain;
	
	animation-duration: 10s;
	animation-name: sliderTick;
	animation-iteration-count: infinite;
	visibility: hidden;
}

@keyframes sliderTick {
	0% {
		visibility: visible;
	}
	20% {
		visibility: hidden;
	}
}

#slideshow .slideshow-img:nth-child(1) {
	animation-delay: 0s;
	background-image: url("../../media/content/accueil/composition_4_3.gif");
}

#slideshow .slideshow-img:nth-child(2) {
	animation-delay: 2s;
	background-image: url("../../media/content/accueil/beatrice-dalle.gif");
}

#slideshow .slideshow-img:nth-child(3) {
	animation-delay: 4s;
	background-image: url("../../media/content/accueil/composition_4_2.gif");
}

#slideshow .slideshow-img:nth-child(4) {
	animation-delay: 6s;
	background-image: url("../../media/content/accueil/lapine-G.gif");
}

#slideshow .slideshow-img:nth-child(5) {
	animation-delay: 8s;
	background-image: url("../../media/content/accueil/SM-new.gif");
}

#footer {
	height: var(--header-height);
	border: var(--header-border-width) solid black;
}

/*--------------*/
/*		Loader	*/
/*--------------*/

#loader {
	position: relative;
	width: 100%;
	height: 100%;
	/*width: 300px;
	height: 400px;
	border-radius: 50%;*/
	background-image: url("../../media/nav/loader.gif");
	background-size: 200px 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fbfbfb;
	margin: auto;
}

#loader-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/*--------------*/
/*		Layouts	*/
/*--------------*/

.layer[data-layer="overlay"] {
	display: block;
	z-index: 3;
}

.layer[data-layer="projects"] {
	z-index: 2;
}

.layer[data-layer="loader"] {
	z-index: 4;
}

body:not([data-layout="index"]):not([data-intro]) #intro,
body:not([data-layout="index"]):not([data-layout="contact"]) #slideshow,
body:not([data-layout="project"]) #gallery-anchor {
	display: none;
}

body[data-layout="project"] {
	overflow-x: hidden;
}

body[data-layout="project"] .gallery {
	pointer-events: none;
}

body[data-layout="gallery"] {
	overflow-y: hidden;
}

body[data-layout="gallery"] .project {
	pointer-events: none;
}

body[data-layout="contact"] .layer[data-layer="contact"],
body[data-layout="index"]   .layer[data-layer="index"],
body[data-layout="gallery"] .layer[data-layer="galleries"],
body[data-layout="gallery"] .layer[data-layer="projects"],
body[data-layout="project"] .layer[data-layer="galleries"],
body[data-layout="project"] .layer[data-layer="projects"] {
	display: block;
}

body[data-layout="gallery"] .layer[data-layer="overlay"] #nav,
body[data-layout="project"] .layer[data-layer="overlay"] #nav {
	display: none;
}

body[data-on-loading] .layer[data-layer="loader"] {
	display: block;
}

body[data-index] #header,
body[data-index] #nav {
	will-change: transform;
	transition-property: transform;
	transition-duration: calc(var(--intro-step-transition-duration-ms) * 1ms);
}

body[data-index] #header {
	transition-delay: calc(var(--intro-step0-transition-delay-ms) * 1ms);
}

body[data-index] #nav {
	transition-delay: calc(var(--intro-step1-transition-delay-ms) * 1ms);
}

body[data-index] #header-banner {
	background-color: white;
}

/*--------------*/
/*		Intro 	*/
/*--------------*/

body[data-before-intro] .layer[data-layer="loader"] {
	display: block;
}

body[data-index][data-before-intro] #header {
	transform: translateY(-100%);
}

body[data-index][data-before-intro] #nav {
	transform: translateX(-100%);
}

body[data-on-intro] #slideshow {
	display: none;
}

body[data-on-intro] .slideshow-img {
	animation-play-state: paused;
}

body:not([data-on-intro]) #intro {
	display: none;
}

/*--------------------------*/
/*		Projects layer		*/
/*--------------------------*/

#projects-container {
	height: 100%;
}

#gallery-anchor {
	position: absolute;
	display: inline-block;
	flex: none;

	font-size: calc(1.2 * var(--header-font-size));
	
	bottom: 24px;
	left: 24px;
}

#gallery-anchor:hover {
	font-weight: bold;
}

.project {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: white;

	will-change: transform;
	transition-property: transform;
	transition-duration: calc(var(--project-away-duration-ms) * 1ms);

	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);

	overflow-y: auto;
	
	-ms-overflow-style: none;
	scrollbar-width: none;

	padding-top: var(--header-height);
	
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.project::-webkit-scrollbar {
	display: none;
}

.project[data-away] {
	transform: translateX(100%);
}

.project-details {
	position: sticky;
	flex: none;

	top: 0;
	left: 0;
	
	width: var(--header-title-width);
	height: 100%;

	overflow: auto;

	padding: var(--header-padding);
}

.project-details::-webkit-scrollbar {
	display: none;
}

.project-details h1,
.project-details h2 {
	margin: 0;
	font-weight: normal;
}

.project-details h1 {
	font-size: var(--header-font-size);
}

.project-details h2 {
	font-size: 1.2em;
}

.project-details p {
	margin: 10px 0;
	text-align: justify;

	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	font-size: 0.7em;
}

.project-item {
	display: block;
	width: calc(var(--header-width) - var(--header-title-width) - var(--header-contact-width) + 2 * var(--header-border-width));
	margin-left: calc(-1 * var(--header-border-width));
}

.project-item:not(:first-child) {
	margin-top: var(--vertical-margin);
}

.project-item:last-child {
	margin-bottom: var(--vertical-margin);
}

/*--------------------------*/
/*		Galleries layer		*/
/*--------------------------*/

#galleries-container {
	width: 100%;
}

.gallery {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: start;

	width: var(--body-height);
	height: var(--body-width);

	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;

	background-color: white;
}

.gallery-scroller {
	position: relative;
	flex: none;

	width: calc(100% - var(--subscroller-height));
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	
	overflow-x: hidden;
	overflow-y: auto;

	padding-right: var(--header-height);

	-ms-overflow-style: none;
	scrollbar-width: none;
	
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.gallery-subscroller {
	position: relative;
	flex: none;
	
	width: var(--subscroller-height);
	height: 100%;
	
	overflow-x: hidden;
	overflow-y: auto;

	-ms-overflow-style: none;
	scrollbar-width: none;
	
	transform: rotate(-180deg) translate3d(0, 0, 0);
	-webkit-transform: rotate(-180deg) translate3d(0, 0, 0);
}

.gallery-subscroller::-webkit-scrollbar {
	display: none;
}

.gallery-subitem {
	height: var(--width);
	margin-top: -1px;
	margin-bottom: -1px;
	width: 100%;

	background-color: var(--data-color);
}

.gallery-scroller::-webkit-scrollbar {
	display: none;
}

.gallery-item-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--data-color);
}

.gallery-item-wrappe:hover .gallery-item,
.gallery-item-wrapper[data-overed] .gallery-item {
	visibility: visible;
}

.gallery-item {
	visibility: hidden;
	position: relative;
	display: block;
	height: calc(var(--body-height) - var(--header-height) - var(--subscroller-height) + 1px);

	flex: none;

	transform: rotate(90deg);

	margin-top: calc(-0.5 * ((var(--height) - var(--width)) + 1px));
	margin-bottom: calc(-0.5 * ((var(--height) - var(--width)) + 1px));
}

/*------------------*/
/*		Intro		*/
/*------------------*/

@media screen and (min-width: 801px) {

	:root {
		--subscroller-height: 0px;
	}

	.gallery-subscroller {
		display: none;
	}

	.contact-menuitem {
		display: none;
	}
}

@media screen and (max-width: 800px) {

	:root {
		--project-away-duration-ms: 2000;
	}

	#header-title {
		text-align: center;
		font-size: calc((var(--body-width) - 2 * var(--header-horizontal-padding)) / var(--data-pixels-ratio));
		flex: auto;
	}
	
	#nav,
	#header-title {
		border-right: none;
	}
	
	#header-contact,
	#header-banner {
		display: none;
	}

	#nav {
		overflow-y: auto;
	}

	.gallery-item {
		height: calc(var(--body-height) - var(--header-height));
	}

	.project {
		display: block;
		min-height: 100%;
		width: var(--body-width);
	}

	.project-details {
		position: relative;
		width: auto;
		height: auto;
	}

	.project-item {
		position: relative;
		display: block;
		width: var(--body-width);
		padding: 0 24px;
		height: auto;
	}
}